body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #ffffff;

    font-weight: bold;
    background-image: url('https://images.pexels.com/photos/417074/pexels-https://www.pinterest.com/pin/1125968650639984/photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg');
  }

  
  form {
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  label span {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  select {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    color: #000000;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    width: 20%;
    height: 40px;
    background-color: #0d0e0d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  input[type="submit"]:hover {
    background-color: #18002e;
    color: #000000;
  }